<app-navbarloged></app-navbarloged>

<main>
  <div class="header pb-7 pt-5 pt-lg-8 d-flex align-items-center"
  style="min-height: 350px; background-image: url(https://media.discordapp.net/attachments/1042520483419148311/1042532490784538785/Grupo_48.png?width=960&height=343); background-size: cover; background-position: center top;">
      
  <div class="container">
    <div class="text-center" style="color: white;">
        <h1>Nueva Solicitud</h1>
        
          <div class="container-fluid ">
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item"><a href="#">Library</a></li>
                <li class="breadcrumb-item active" aria-current="page"><a href="#">Data</a></li>
              </ol>
            </nav>
          </div>
        
        
    </div>
</div>

</div>
      
      <section class="py-5 text-center container">
        <div class="row py-lg-5">
          <div class="col-lg-6 col-md-8 mx-auto">
            <h1 class="fw-light">¿Listo para enviar? </h1>
            <p class="lead text-muted">Antes de Empezar con el proceso recuerde tener descargado y rellenado los documentos a subir</p>
            <p class="lead text-muted">Si no lo tiene ande a la parte de Documentos en la pagina principal</p>
            <p>
              <button href="#"  class="btn btn-success my-2">Ir a Documentos </button>
              <br>
              <a href="#" class="btn btn-danger my-2">Ver Proceso</a>
            </p>
          </div>
        </div>
      </section>

      <div class="album py-5 bg-light">
        <div class="container">
    
          <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            <div class="col">
              <div class="card shadow-sm">
                <img class="bd-placeholder-img card-img-top" src="https://media.discordapp.net/attachments/1042520483419148311/1042535310409605140/Web_1920_21.png?width=960&height=343" height="100%" width="225">
                <div class="card-body">
                  <p class="card-text">Registrar Organización Social </p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary">Iniciar</button>
                      
                    </div>
                    <small class="text-muted">Junta directiva</small>
                  </div>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card shadow-sm">
                <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
    
                <div class="card-body">
                  <p class="card-text">Actualizar Organización Social</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary">Iniciar </button>
                      
                    </div>
                    <small class="text-muted">Junta Directiva</small>
                  </div>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card shadow-sm">
                <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
    
                <div class="card-body">
                  <p class="card-text">Mi Organizacion Social</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary">Ver</button>
                      
                    </div>
                    <small class="text-muted">9 mins</small>
                  </div>
                </div>
              </div>
            </div>
    
            
           
            
    
           
            
           
          </div>
        </div>
      </div>
   
</main>
